html {
    font-size: 10px;
    font-family: 'Orelega One';/*тут я пробую шрифт*/
    background-color: sandybrown;
}
h1 {
    font-size: 60px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: #00539f;
    text-shadow: 3px 3px 1px black;
}
li,p {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 2px;
}
body {
    width: 600px;
    margin: auto;
    background-color: slateblue;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}
img {
    display: block;
    margin: 0 auto;
}